#app {
  #layout {
    .el-aside {
      height          : calc(100vh - @headerHeight);
      background-color: #f6f8fa;
      border-right    : 1px solid #eee;
      position        : relative;
    }

    #sider {
      height          : 100%;
      background-color: #f6f8fa;
      position        : relative;
      border-right    : 1px solid #e6e6e6;

      .el-scrollbar {
        height: calc(100% - 50px);

        .el-scrollbar__view {
          height: 100%;

          .el-menu {
            height: 100%;
            border: none;
          }

          .el-menu-vertical-demo:not(.el-menu--collapse) {
            width     : 200px;
            min-height: 400px;
          }

          .el-menu--collapse .el-sub-menu {
            .el-sub-menu__title span {
              height    : 0;
              width     : 0;
              overflow  : hidden;
              visibility: hidden;
              display   : inline-block;
            }

            .el-sub-menu__icon-arrow {
              display: none;
            }
          }


        }
      }

      a {
        text-decoration: none;
        color          : #2c3e50;

        &.router-link-exact-active {
          color: #42b983;
        }
      }

      .footer {
        position        : absolute;
        bottom          : 0;
        left            : 0;
        right           : 0;
        padding-bottom  : 10px;
        background-color: #f6f8fa;
      }
    }
  }
}